{% extends "base.html" %}
{% block content %}
<html>
  <head>
      <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap&libraries=&v=weekly"
      defer></script>
    <!--script src="Javascript/Google_Maps_API.js"></script-->
      <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
<br>
API key is:
<br>
{{ API_KEY }}
<br>
    <div id="map"></div>
  </body>
</html>
    <script>
        let map;

        function initMap() {
            map = new google.maps.Map(
                document.getElementById("map"),
                {center: { lat: 43.0389, lng: -87.906 }, zoom: 12}
                )
            const myLatLng = { lat: 43, lng: -88 };
            new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Marker",

        });
        }

    </script>
{% endblock %}
